#butin {
    float: center;
      top: 02%;
      padding-bottom:0px;
      left: 95.5%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-60%, -50%);
      font-size: 10px;
      padding: 20px 20px;
      border: none;
      cursor: pointer;
      border-radius: 1px;
      text-align: center;
      position: fixed;
  display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
  }
  .glyphicon1  {
  position: absolute;
      top: 02%;
      left: 89.5%;
      transform: translate(-44%, -45%);
      background-color: #fff;
      color:#eb4924 ;
      font-size: 13px;
      padding: 15px 18px;
      border: none;
      letter-spacing: 2px;
      align:center;
  display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
}
.my_manu{
    margin-top:10px;
}

 a i {
  font-size:60px;
  width:40px;
  height:40px;
  display:block;  
  margin-top:20;
  background: #eb4924;
  border-radius: 50%;
  
}

a i{
    margin-left:2px;
}
.button{
    margin-bottom:10px;
}
.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
     float: left;
     text-align: center;
}
/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}
.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f167"; /* add pinterest icon */
}

.pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.product-item
{
	 width: 20%;
    height: 70px;
    max-width:150%
	cursor: pointer;
    float: right;
    transform: translate(-59%, -109%);
}
.product-item1
{
    cursor: pointer;
    float: right;
padding-top: 10px;
    display: block;
    margin: auto;
    width: 40%;
    height: 70px;
    max-width:150%
}
.product_image
{
	width: 100%;
}
.product_image img
{
	width: 100%;
}
.deal_ofthe_week
{
	width: 100%;
	margin-top: 41px;
	background: #f2f2f2;
}
.navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 16px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #eb4924 !important;
            color: #fff !important;
      background-color: #eb4924 !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
input {
    width: 67%;
    height: 35px;
}
.dropdown {     
    margin-top: 20px;
    display: block;     
}
/*********************************
4. Banner
*********************************/

.banner
{
	width: 100%;
	margin-top: 30px;
}
.banner_item1
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	height:165px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.banner_item2
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	height:265px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.banner_category
{
	height: 40px;
	background: #ee5b3f;
    width: 75%;
	left: 10%;
    margin-top: 90px;
    transform: translate(-1%, -14%);
    text-align: center;
    position: absolute;
}
.banner_category a
{
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.banner p {
	font-size: x-small!important;
    text-align: center!important;
    background-color: #ef5b3f!important;
    color: #fff!important;
    height: 17px!important;
    margin-top: 1px!important;
    padding-top: 2px!important;
    padding-bottom: 10px!important;
    padding-left: 1px!important;
    padding-right: 2px!important;
    position: absolute!important;
    left: 6%!important;
    right: 6%!important;
    bottom: -17px!important;
}
.banner_category a:hover
{
	color: #b5aec4;
}
/* Container holding the image and the text */
.container {
    position: relative;
}

/* Bottom right text */
h2 span { 
 color: #ee5b3f;
 background: white;
 font-size: 15px;
 line-height: 1.5em;
 text-align: left;
 position: absolute;
 top: 70%;
 left: 50%;
 transform: translate(-56%, -50%);
 width: 80%;
}

.word {

    color: #ee5b3f;
 background: white;
 font-size: 15px;
 line-height: 1.5em;
 text-align: left;
 position: absolute;
 top: 70%;
 left: 50%;
 transform: translate(-56%, -50%);
 width: 80%
}
.fast {
 font-family: inherit;
 font-size: 15px;
 line-height: 1.5em;
 text-align: left;
 position: absolute;
 top: 108%;
 left: 60%;
 transform: translate(-56%, -50%);
 width: 80%
}
.faster {
    color: grey;
font-family: inherit;
 font-size: 13px;
 line-height: 1.5em;
 text-align: left;
 position: absolute;
 top: 125%;
 left: 60%;
 transform: translate(-56%, -25%);
 width: 80%
}